@using PagedList.Mvc;
@{
    ViewBag.Title = "CompanySidebar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section padding_layout_1 product_list_main">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    @foreach (var item in ViewData["CompanySidebar"] as PagedList.IPagedList<TMDT_Web.Models.Domain.Product>)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                            <div class="product_list">
                                <div class="product_img"> <img class="img-responsive card-img" src="~/Images/Products/@item.Image" alt=""> </div>
                                <div class="product_detail_btm">
                                    <div class="center">
                                        <h4><a href="it_shop_detail.html">@item.ProductName</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>@*<span class="old_price">$15.00</span> –*@ <span class="new_price">@item.Price VND</span></p>
                                    </div>
                                    <div class="button_Section_cont center"> <a class="btn dark_gray_bt" href="#">Thêm vào giỏ</a> </div>
                                </div>
                            </div>
                        </div>
                    }
                    <br />
                    <div class="center col-md-12 col-sm-6 col-xs-12 margin_bottom_30_all">
                        @foreach (var item in ViewData["CompanySidebar"] as PagedList.IPagedList<TMDT_Web.Models.Domain.Product>)
                        {
                            @Html.PagedListPager(ViewData["CompanySidebar"] as PagedList.IPagedList<TMDT_Web.Models.Domain.Product>, page => Url.Action("CompanySidebar", "Home", new { companysidebar = item.Brand.CompanyID, page }))
                            break;
                        }
                    </div>
                </div>
            </div>
            <!-- Side bar -->
            <div class="col-md-3">
                <div class="side_bar">
                    <div class="side_bar_blog">
                        <h4>Xem theo Brand:</h4>
                        <div class="categary">
                            <ul>
                                @foreach (var item in ViewBag.SideBarBrand)
                                {
                                    <li style="background-color:dimgray"><a href="@Url.Action("BrandSidebar","Home", new { brandsidebar=item.BrandID})">@item.BrandName</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kết side bar -->
        </div>
    </div>
</div>
<!-- Kết ds sản phẩm -->
