@model TMDT_Web.Models.Domain.Account
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="side_bar_blog col-lg-3">
            <h4>Chức Năng</h4>
            <div class="categary">
                <ul>
                    <li><a href="@Url.Action("Index","AdminHome",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Trang Chủ</a></li>
                    <li><a href="@Url.Action("Index","Finance",new { area= "Admin"})"><i class="fa fa-angle-right"></i> Báo Cáo Doanh Thu</a></li>
                    <li><a href="@Url.Action("Index","Company",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Công Ty</li>
                    <li><a href="@Url.Action("Index","Brand",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Phân Loại</a></li>
                    <li><a href="@Url.Action("Index","Product",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Sản Phẩm</a></li>
                    <li><a href="@Url.Action("Index","User",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Người Dùng</a></li>
                    <li><a href="@Url.Action("Index","Order",new { area= "Admin"})"><i class="fa fa-angle-right"></i>Đơn Hàng</a></li>

                </ul>
            </div>
        </div>
        <div class="col-lg-9 float-left" style="margin-top:30px">
            <form action="@Url.Action("Edit","User")" method="post" enctype="multipart/form-data">
                <table class="table">
                    <tr>
                        <td>
                            <input type="hidden" name="UserID" value="@Model.UserID" />
                            <input type="hidden" name="userName" value="@Model.UserName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Họ</td>
                        <td><input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" /></td>
                    </tr>
                    <tr>
                        <td>Tên</td>
                        <td><input type="text" id="LastName" name="LastName" value="@Model.LastName" /></td>
                    </tr>
                    <tr>
                        <td>Địa Chỉ</td>

                        <td><input type="text" id="Address" name="Address" value="@Model.Address" /></td>
                    </tr>
                    <tr>
                        <td>Tuổi</td>
                        <td><input type="text" id="Age" name="Age" value="@Model.Age" /></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" id="Email" name="Email" value="@Model.Email" /></td>
                    </tr>
                    <tr>
                        <td>Mật Khẩu</td>
                        <td><input type="text" id="Password" name="Password" value="@Model.Password" /></td>
                    </tr>
                    <tr>
                        <td>Quyền</td>
                        <td height="60"> @Html.DropDownList("roleID", null, htmlAttributes: new { @class = "form-control", size = "1", @style = "width: 120px" })</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Sửa" />
                        </td>
                        <td>
                            @Html.ActionLink("Quay về trang chính", "Index")
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

